USE [master]
GO
/****** Object:  Database [BD_Empresa]    Script Date: 27/05/2020 3:57:12 p. m. ******/
CREATE DATABASE [BD_Empresa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_Empresa', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.ETEX\MSSQL\DATA\BD_Empresa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_Empresa_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.ETEX\MSSQL\DATA\BD_Empresa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_Empresa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_Empresa]
GO
/****** Object:  Table [dbo].[tipo_identificacion]    Script Date: 27/05/2020 3:57:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_identificacion](
	[Tipo_Identificacion_Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_tipo_identificacion] PRIMARY KEY CLUSTERED 
(
	[Tipo_Identificacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trabajador]    Script Date: 27/05/2020 3:57:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trabajador](
	[Trabajador_Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](30) NULL,
	[Apellidos] [nvarchar](30) NULL,
	[Identificacion] [int] NULL,
	[Tipo_Identificador_Id] [int] NULL,
	[Salario] [decimal](18, 3) NULL,
 CONSTRAINT [PK_trabajador] PRIMARY KEY CLUSTERED 
(
	[Trabajador_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[trabajador]  WITH CHECK ADD  CONSTRAINT [FK_trabajador_tipo_identificacion] FOREIGN KEY([Tipo_Identificador_Id])
REFERENCES [dbo].[tipo_identificacion] ([Tipo_Identificacion_Id])
GO
ALTER TABLE [dbo].[trabajador] CHECK CONSTRAINT [FK_trabajador_tipo_identificacion]
GO
USE [master]
GO
